* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aquamarine;
}

.main_div {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div {
  height: 50vh;
  width: 20%;
  margin-top: 230px;
  border: none;
  background-color: aliceblue;
  box-shadow: 5px 5px 25px -5px black;
  border-radius: 15px;
}

h1 {
  text-shadow: 2px 2px 8px rgb(132, 129, 129);
}

.newBtn {
  height: 40px;
   
  width: 40px;   
 
}

ol {
  margin-top: 30px;
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: black;
  text-transform: capitalize;
}
.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .deleteIcon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px black;
  font-size: 36px;

}

.todo_style .deleteIcon:hover {
  background-color: crimson;
}


@media(max-width:768px) {
  .center_div {
     width: 55%;
  }


  .todo_style .deleteIcon {
     margin: 0 15px 0 15px;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  Button {
     margin-left: 5px;
     min-height: 40px;
     width: 40px;
     color: white;
     font-size: 30px;
  }
}
